<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>v
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      <%= @page_title %>
    </title>
    <%= stylesheet_link_tag 'shoppe/printable', :media => :all %>
    <script type="text/javascript">
      window.print();
    </script>
  </head>
  <body>
    <div id="content">
      <%= :yield %>
    </div>
  </body>
</html>