<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="login">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @page_title %> - Shoppe</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <%= stylesheet_link_tag 'shoppe/sub' %>
    <%= javascript_include_tag 'shoppe/application' %>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
